<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSTColorPanel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>JSTColorPicker copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>JSTColorPicker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JSTColorPickerSparkle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>JSTScreenshotHelper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LuaC.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LuaSource.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LuaSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PixelMatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>pixel.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D60B0F3B24286AA30034F21C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D60B0F8624288CF20034F21C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D610477824224A170002E990</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D62834ED23F8E9DB0016573B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D628350C23F8EAAA0016573B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D658AF9923CB180C0098C567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D65AEBBD2427B60100D6A6CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D690C95E241A60DC00BB1652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
