JSTColorPicker/lib/libusbmuxd.a filter=lfs diff=lfs merge=lfs -text
JSTColorPicker/lib/libcrypto.a filter=lfs diff=lfs merge=lfs -text
JSTColorPicker/lib/libimobiledevice.a filter=lfs diff=lfs merge=lfs -text
JSTColorPicker/lib/libplist.a filter=lfs diff=lfs merge=lfs -text
JSTColorPicker/lib/libssl.a filter=lfs diff=lfs merge=lfs -text
