*.a filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
include/* linguist-vendored=true
lib/* linguist-vendored=true
JSTColorPicker/OpenCV/* linguist-vendored=true
PrecompiledLibraries/* linguist-vendored=true
LuaC/* linguist-vendored=true
JSTScreenshotHelper/include/* linguist-vendored=true
JSTScreenshotHelper/lib/* linguist-vendored=true filter=lfs diff=lfs merge=lfs -text
JSTScreenshotHelper/bin/* linguist-vendored=true filter=lfs diff=lfs merge=lfs -text
LuaC/modules/lcurl/prebuilt/* linguist-vendored=true filter=lfs diff=lfs merge=lfs -text
JSTScreenshotHelper/lib/libressl-2.2.7.tar.gz filter=lfs diff=lfs merge=lfs -text
