<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleMomentumScrollSupported</key>
	<true/>
	<key>defaults.confirmBeforeDelete</key>
	<true/>
	<key>defaults.drawAnnotatorsInGridView</key>
	<false/>
	<key>defaults.drawBackgroundInGridView</key>
	<true/>
	<key>defaults.drawBordersInScene</key>
	<true/>
	<key>defaults.drawGridsInScene</key>
	<true/>
	<key>defaults.drawTagsInScene</key>
	<true/>
	<key>defaults.drawRulersInScene</key>
	<false/>
	<key>defaults.drawSceneBackground</key>
	<true/>
	<key>defaults.enableForceTouch</key>
	<true/>
	<key>defaults.enableGPUAcceleration</key>
	<true/>
	<key>defaults.enableNetworkDiscovery</key>
	<false/>
	<key>defaults.hideAnnotatorsWhenResize</key>
	<true/>
	<key>defaults.hideBordersWhenResize</key>
	<true/>
	<key>defaults.hideGridsWhenResize</key>
	<true/>
	<key>defaults.ignoreInvalidDeletion</key>
	<true/>
	<key>defaults.zIndexBySize</key>
	<false/>
	<key>defaults.initialSimilarity</key>
	<real>0.9</real>
	<key>defaults.maximumItemCount</key>
	<integer>99</integer>
	<key>defaults.maximumItemCountEnabled</key>
	<true/>
	<key>defaults.paneView.toggle-info</key>
	<true/>
	<key>defaults.paneView.toggle-inspector</key>
	<false/>
	<key>defaults.paneView.toggle-preview</key>
	<true/>
	<key>defaults.paneView.toggle-taglist</key>
	<true/>
	<key>defaults.pixelMatchAlpha</key>
	<real>0.5</real>
	<key>defaults.pixelMatchBackgroundMode</key>
	<false/>
	<key>defaults.pixelMatchDiffMask</key>
	<false/>
	<key>defaults.pixelMatchIncludeAA</key>
	<true/>
	<key>defaults.pixelMatchThreshold</key>
	<real>0.1</real>
	<key>defaults.preview.toggle-color</key>
	<false/>
	<key>defaults.preview.toggle-area</key>
	<false/>
	<key>defaults.tableColumn.toggle-desc</key>
	<true/>
	<key>defaults.tableColumn.toggle-id</key>
	<true/>
	<key>defaults.tableColumn.toggle-similarity</key>
	<false/>
	<key>defaults.tableColumn.toggle-tag</key>
	<false/>
	<key>defaults.usesAlternativeAreaRepresentation</key>
	<false/>
	<key>defaults.usesDetailedToolTips</key>
	<true/>
	<key>defaults.usesPredominantAxisScrolling</key>
	<false/>
</dict>
</plist>
