<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleMomentumScrollSupported</key>
	<true/>
	<key>defaults:confirmBeforeDelete</key>
	<true/>
	<key>defaults:drawAnnotatorsInGridView</key>
	<false/>
	<key>defaults:drawBackgroundInGridView</key>
	<true/>
	<key>defaults:drawBordersInScene</key>
	<true/>
	<key>defaults:drawGridsInScene</key>
	<true/>
	<key>defaults:drawTagsInScene</key>
	<true/>
	<key>defaults:drawRulersInScene</key>
	<true/>
	<key>defaults:drawSceneBackground</key>
	<true/>
	<key>defaults:enableGPUAcceleration</key>
	<true/>
	<key>defaults:enableNetworkDiscovery</key>
	<false/>
	<key>defaults:enableSyntaxHighlighting</key>
	<true/>
	<key>defaults:gridViewAnimationSpeed</key>
	<integer>1</integer>
	<key>defaults:gridViewSizeLevel</key>
	<integer>1</integer>
	<key>defaults:hideAnnotatorsWhenResize</key>
	<false/>
	<key>defaults:hideBordersWhenResize</key>
	<false/>
	<key>defaults:hideGridsWhenResize</key>
	<false/>
	<key>defaults:ignoreInvalidDeletion</key>
	<true/>
	<key>defaults:ignoreRepeatedInsertion</key>
	<true/>
	<key>defaults:locateExportedItemsAfterOperation</key>
	<false/>
	<key>defaults:zIndexBySize</key>
	<false/>
	<key>defaults:initialSimilarity</key>
	<real>0.9</real>
	<key>defaults:makeSoundsAfterDoubleClickCopy</key>
	<false/>
	<key>defaults:maximumItemCount</key>
	<integer>99</integer>
	<key>defaults:maximumItemCountEnabled</key>
	<true/>
	<key>defaults:maximumTagPerItem</key>
	<integer>1</integer>
	<key>defaults:maximumTagPerItemEnabled</key>
	<true/>
	<key>defaults:replaceSingleTagWhileDrop</key>
	<true/>
	<key>defaults:duplicateOffset</key>
	<integer>10</integer>
	<key>defaults:maximumPreviewLineCount</key>
	<integer>20</integer>
	<key>defaults:paneView.toggle-info</key>
	<true/>
	<key>defaults:paneView.toggle-inspector</key>
	<false/>
	<key>defaults:paneView.toggle-preview</key>
	<true/>
	<key>defaults:paneView.toggle-taglist</key>
	<true/>
	<key>defaults:pixelMatchAlpha</key>
	<real>0.5</real>
	<key>defaults:pixelMatchBackgroundMode</key>
	<false/>
	<key>defaults:pixelMatchDiffMask</key>
	<false/>
	<key>defaults:pixelMatchIncludeAA</key>
	<true/>
	<key>defaults:pixelMatchThreshold</key>
	<real>0.1</real>
	<key>defaults:sceneMaximumSmartMagnification</key>
	<integer>32</integer>
	<key>defaults:togglePreviewColor</key>
	<false/>
	<key>defaults:togglePreviewArea</key>
	<false/>
	<key>defaults:toggleTableColumnDescription</key>
	<true/>
	<key>defaults:toggleTableColumnIdentifier</key>
	<true/>
	<key>defaults:toggleTableColumnSimilarity</key>
	<false/>
	<key>defaults:toggleTableColumnTag</key>
	<false/>
	<key>defaults:togglePrimaryInspectorHSBFormat</key>
	<false/>
	<key>defaults:toggleSecondaryInspectorHSBFormat</key>
	<false/>
	<key>defaults:toggleTemplateDetailedInformation</key>
	<false/>
	<key>defaults:usesAlternativeAreaRepresentation</key>
	<false/>
	<key>defaults:usesDetailedToolTips</key>
	<true/>
	<key>defaults:usesPredominantAxisScrolling</key>
	<false/>
	<key>defaults:disableColorAnnotation</key>
	<false/>
	<key>defaults:disableTagReordering</key>
	<false/>
	<key>defaults:disableTagEditing</key>
	<false/>
</dict>
</plist>
