<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Button</string>
		<key>colorHex</key>
		<string>#171E6D</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Switch</string>
		<key>colorHex</key>
		<string>#1E3388</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Slider</string>
		<key>colorHex</key>
		<string>#27539B</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Checkbox</string>
		<key>colorHex</key>
		<string>#3073AE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Radio</string>
		<key>colorHex</key>
		<string>#3993C2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TextField</string>
		<key>colorHex</key>
		<string>#42B3D5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rate</string>
		<key>colorHex</key>
		<string>#75C6D1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BackTop</string>
		<key>colorHex</key>
		<string>#A9DACC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Label</string>
		<key>colorHex</key>
		<string>#044E48</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Badge</string>
		<key>colorHex</key>
		<string>#06746B</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Media</string>
		<key>colorHex</key>
		<string>#20876B</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Box</string>
		<key>colorHex</key>
		<string>#6A9A48</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hud</string>
		<key>colorHex</key>
		<string>#B5AC23</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Keyboard</string>
		<key>colorHex</key>
		<string>#E6B80B</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Progress</string>
		<key>colorHex</key>
		<string>#FACA3E</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spin</string>
		<key>colorHex</key>
		<string>#FFDF80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>StatusBar</string>
		<key>colorHex</key>
		<string>#661900</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TabBar</string>
		<key>colorHex</key>
		<string>#B22C00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NavigationBar</string>
		<key>colorHex</key>
		<string>#E6450F</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Skeleton</string>
		<key>colorHex</key>
		<string>#FF6500</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Notification</string>
		<key>colorHex</key>
		<string>#FF8C00</string>
	</dict>
</array>
</plist>
