<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Photo</string>
		<key>colorHex</key>
		<string>#171E6D</string>
		<key>helpText</key>
		<string>照片</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Passport Type</string>
		<key>colorHex</key>
		<string>#1E3388</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Font Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Font Size</string>
				<key>valueType</key>
				<string>Integer</string>
				<key>options</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>18</string>
					<string>24</string>
					<string>36</string>
					<string>48</string>
					<string>64</string>
					<string>72</string>
					<string>96</string>
					<string>144</string>
					<string>288</string>
				</array>
				<key>defaultValue</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Text Alignment</string>
				<key>options</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Center</string>
					<string>Natural</string>
				</array>
				<key>defaultValue</key>
				<string>Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Passport Code</string>
		<key>colorHex</key>
		<string>#27539B</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Font Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Font Size</string>
				<key>valueType</key>
				<string>Integer</string>
				<key>options</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>18</string>
					<string>24</string>
					<string>36</string>
					<string>48</string>
					<string>64</string>
					<string>72</string>
					<string>96</string>
					<string>144</string>
					<string>288</string>
				</array>
				<key>defaultValue</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Text Alignment</string>
				<key>options</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Center</string>
					<string>Natural</string>
				</array>
				<key>defaultValue</key>
				<string>Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Passport Number</string>
		<key>colorHex</key>
		<string>#3073AE</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Font Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Font Size</string>
				<key>valueType</key>
				<string>Integer</string>
				<key>options</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>18</string>
					<string>24</string>
					<string>36</string>
					<string>48</string>
					<string>64</string>
					<string>72</string>
					<string>96</string>
					<string>144</string>
					<string>288</string>
				</array>
				<key>defaultValue</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Text Alignment</string>
				<key>options</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Center</string>
					<string>Natural</string>
				</array>
				<key>defaultValue</key>
				<string>Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Surname / First Name</string>
		<key>colorHex</key>
		<string>#3993C2</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Font Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Font Size</string>
				<key>valueType</key>
				<string>Integer</string>
				<key>options</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>18</string>
					<string>24</string>
					<string>36</string>
					<string>48</string>
					<string>64</string>
					<string>72</string>
					<string>96</string>
					<string>144</string>
					<string>288</string>
				</array>
				<key>defaultValue</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Text Alignment</string>
				<key>options</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Center</string>
					<string>Natural</string>
				</array>
				<key>defaultValue</key>
				<string>Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Given Names / Last Name</string>
		<key>colorHex</key>
		<string>#42B3D5</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Font Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Font Size</string>
				<key>valueType</key>
				<string>Integer</string>
				<key>options</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>18</string>
					<string>24</string>
					<string>36</string>
					<string>48</string>
					<string>64</string>
					<string>72</string>
					<string>96</string>
					<string>144</string>
					<string>288</string>
				</array>
				<key>defaultValue</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Text Alignment</string>
				<key>options</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Center</string>
					<string>Natural</string>
				</array>
				<key>defaultValue</key>
				<string>Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Nationality</string>
		<key>colorHex</key>
		<string>#75C6D1</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Font Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Font Size</string>
				<key>valueType</key>
				<string>Integer</string>
				<key>options</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>18</string>
					<string>24</string>
					<string>36</string>
					<string>48</string>
					<string>64</string>
					<string>72</string>
					<string>96</string>
					<string>144</string>
					<string>288</string>
				</array>
				<key>defaultValue</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Text Alignment</string>
				<key>options</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Center</string>
					<string>Natural</string>
				</array>
				<key>defaultValue</key>
				<string>Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Date of Birth</string>
		<key>colorHex</key>
		<string>#A9DACC</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Font Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Font Size</string>
				<key>valueType</key>
				<string>Integer</string>
				<key>options</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>18</string>
					<string>24</string>
					<string>36</string>
					<string>48</string>
					<string>64</string>
					<string>72</string>
					<string>96</string>
					<string>144</string>
					<string>288</string>
				</array>
				<key>defaultValue</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Text Alignment</string>
				<key>options</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Center</string>
					<string>Natural</string>
				</array>
				<key>defaultValue</key>
				<string>Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Place of Birth</string>
		<key>colorHex</key>
		<string>#044E48</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Font Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Font Size</string>
				<key>valueType</key>
				<string>Integer</string>
				<key>options</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>18</string>
					<string>24</string>
					<string>36</string>
					<string>48</string>
					<string>64</string>
					<string>72</string>
					<string>96</string>
					<string>144</string>
					<string>288</string>
				</array>
				<key>defaultValue</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Text Alignment</string>
				<key>options</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Center</string>
					<string>Natural</string>
				</array>
				<key>defaultValue</key>
				<string>Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Date of Issue</string>
		<key>colorHex</key>
		<string>#06746B</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Font Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Font Size</string>
				<key>valueType</key>
				<string>Integer</string>
				<key>options</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>18</string>
					<string>24</string>
					<string>36</string>
					<string>48</string>
					<string>64</string>
					<string>72</string>
					<string>96</string>
					<string>144</string>
					<string>288</string>
				</array>
				<key>defaultValue</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Text Alignment</string>
				<key>options</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Center</string>
					<string>Natural</string>
				</array>
				<key>defaultValue</key>
				<string>Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Date of Expiration</string>
		<key>colorHex</key>
		<string>#20876B</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Font Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Font Size</string>
				<key>valueType</key>
				<string>Integer</string>
				<key>options</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>18</string>
					<string>24</string>
					<string>36</string>
					<string>48</string>
					<string>64</string>
					<string>72</string>
					<string>96</string>
					<string>144</string>
					<string>288</string>
				</array>
				<key>defaultValue</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Text Alignment</string>
				<key>options</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Center</string>
					<string>Natural</string>
				</array>
				<key>defaultValue</key>
				<string>Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Endorsements</string>
		<key>colorHex</key>
		<string>#6A9A48</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Font Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Font Size</string>
				<key>valueType</key>
				<string>Integer</string>
				<key>options</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>18</string>
					<string>24</string>
					<string>36</string>
					<string>48</string>
					<string>64</string>
					<string>72</string>
					<string>96</string>
					<string>144</string>
					<string>288</string>
				</array>
				<key>defaultValue</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Text Alignment</string>
				<key>options</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Center</string>
					<string>Natural</string>
				</array>
				<key>defaultValue</key>
				<string>Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Sex</string>
		<key>colorHex</key>
		<string>#B5AC23</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Font Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Font Size</string>
				<key>valueType</key>
				<string>Integer</string>
				<key>options</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>18</string>
					<string>24</string>
					<string>36</string>
					<string>48</string>
					<string>64</string>
					<string>72</string>
					<string>96</string>
					<string>144</string>
					<string>288</string>
				</array>
				<key>defaultValue</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Text Alignment</string>
				<key>options</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Center</string>
					<string>Natural</string>
				</array>
				<key>defaultValue</key>
				<string>Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Authority</string>
		<key>colorHex</key>
		<string>#E6B80B</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Font Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Font Size</string>
				<key>valueType</key>
				<string>Integer</string>
				<key>options</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>18</string>
					<string>24</string>
					<string>36</string>
					<string>48</string>
					<string>64</string>
					<string>72</string>
					<string>96</string>
					<string>144</string>
					<string>288</string>
				</array>
				<key>defaultValue</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Text Alignment</string>
				<key>options</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Center</string>
					<string>Natural</string>
				</array>
				<key>defaultValue</key>
				<string>Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Signature</string>
		<key>colorHex</key>
		<string>#FACA3E</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Font Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Font Size</string>
				<key>valueType</key>
				<string>Integer</string>
				<key>options</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>18</string>
					<string>24</string>
					<string>36</string>
					<string>48</string>
					<string>64</string>
					<string>72</string>
					<string>96</string>
					<string>144</string>
					<string>288</string>
				</array>
				<key>defaultValue</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Text Alignment</string>
				<key>options</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Center</string>
					<string>Natural</string>
				</array>
				<key>defaultValue</key>
				<string>Center</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Machine Readable Zone</string>
		<key>colorHex</key>
		<string>#FFDF80</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Font Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Font Size</string>
				<key>valueType</key>
				<string>Integer</string>
				<key>options</key>
				<array>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
					<string>18</string>
					<string>24</string>
					<string>36</string>
					<string>48</string>
					<string>64</string>
					<string>72</string>
					<string>96</string>
					<string>144</string>
					<string>288</string>
				</array>
				<key>defaultValue</key>
				<string>14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color Hex</string>
				<key>valueType</key>
				<string>String</string>
				<key>defaultValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Text Alignment</string>
				<key>options</key>
				<array>
					<string>Left</string>
					<string>Right</string>
					<string>Center</string>
					<string>Natural</string>
				</array>
				<key>defaultValue</key>
				<string>Natural</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Mask</string>
		<key>colorHex</key>
		<string>#661900</string>
		<key>fields</key>
		<array>
			<dict>
				<key>name</key>
				<string>Image Name</string>
				<key>valueType</key>
				<string>String</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Alpha Value</string>
				<key>valueType</key>
				<string>Decimal</string>
				<key>defaultValue</key>
				<string>1.0</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
